global !p
from tex_snippets import in_text, in_math
endglobal

context "in_math()"
snippet '(?<!\\)([cdlv]dots)' "dots" rA
\\`!p snip.rv = match.group(1)`$0
endsnippet

context "in_math()"
snippet oo "infty" wA
\infty
endsnippet

context "in_math()"
snippet '([_^])\1' "su(b|per)script" rA
`!p snip.rv = match.group(1)`\{${1:${VISUAL}}\}$0
endsnippet
