[Unit]
Description=Kanata Keyboard Remapper
Documentation=https://github.com/jtroo/kanata

[Service]
Type=simple
ExecStart=/usr/bin/sh -c '$${HOME}/.local/share/cargo/bin/kanata --cfg $${HOME}/.config/kanata/hhk.kbd'
Restart=no

[Install]
WantedBy=default.target
