snippet '([a-z]);`' "Capitalize letters" rA
`!p snip.rv = match.group(1).upper()`$0
endsnippet

snippet '([AaBbGgDdEeZzHhJjIiKkLlMmNnXxOοPpRrSsTtUuFfQqYyWw]|d[Gg]|v[sbejkprfJ])`' "Greek letters" rA
`!p
alphabet = {
	"A": "\\Alpha",
	"a": "\\alpha",
	"B": "\\Beta",
	"b": "\\beta",
	"G": "\\Gamma",
	"g": "\\gamma",
	"D": "\\Delta",
	"d": "\\delta",
	"E": "\\Epsilon",
	"e": "\\epsilon",
	"Z": "\\Zeta",
	"z": "\\zeta",
	"H": "\\Eta",
	"h": "\\eta",
	"J": "\\Theta",
	"j": "\\theta",
	"I": "\\Iota",
	"i": "\\iota",
	"K": "\\Kappa",
	"k": "\\kappa",
	"L": "\\Lambda",
	"l": "\\lambda",
	"M": "\\Mu",
	"m": "\\mu",
	"N": "\\Nu",
	"n": "\\nu",
	"X": "\\Xi",
	"x": "\\xi",
	"O": "\\Omicron",
	"o": "\\omicron",
	"P": "\\Pi",
	"p": "\\pi",
	"R": "\\Rho",
	"r": "\\rho",
	"S": "\\Sigma",
	"s": "\\sigma",
	"T": "\\Tau",
	"t": "\\tau",
	"U": "\\Upsilon",
	"u": "\\upsilon",
	"F": "\\Phi",
	"f": "\\phi",
	"Q": "\\Chi",
	"q": "\\chi",
	"Y": "\\Psi",
	"y": "\\psi",
	"W": "\\Omega",
	"w": "\\omega",
	"dG": "\\Digamma",
	"dg": "\\digamma",
	"vs": "\\varsigma",
	"vb": "\\varbeta",
	"ve": "\\varepsilon",
	"vj": "\\vartheta",
	"vk": "\\varkappa",
	"vp": "\\varpi",
	"vr": "\\varrho",
	"vf": "\\varphi",
	"vJ": "\\varTheta",
}
snip.rv = alphabet[match.group(1)]
`$0
endsnippet

snippet '(^)?m([id]);([^;]+)?;' "Math mode" rA
`!p
enclosing = {
	"i": {
		"lhs": "\\(",
		"rhs": "\\)",
	},
	"d": {
		"lhs": "\\[\n\t",
		"rhs": "\n\\]\n",
	},
}
at_the_beginning_of_a_line = "no" if match.group(1) is None else "yes"
mode = match.group(2)
content = snip.v.text if match.group(3) is None else match.group(3)
opening = enclosing[mode]["lhs"]
closing = enclosing[mode]["rhs"]
if mode == "d" and at_the_beginning_of_a_line == "no":
	snip.rv = "\n" + opening
else:
  snip.rv = opening
`${1:`!p snip.rv = content`}`!p snip.rv = closing`$0
endsnippet

snippet 'e([pbc])([sb]);([^;]+)?;' "Enclosing things inside parenthesis, brackets or curly braces" rA
`!p
enclosing = {
  "p": {
		"s": {
			"lhs": "(",
			"rhs": ")",
		},
		"b": {
			"lhs": "\\left(",
			"rhs": "\\right)",
		},
	},
  "b": {
	  "s": {
		  "lhs": "[",
		  "rhs": "]",
		},
		"b": {
		  "lhs": "\\left[",
		  "rhs": "\\right]",
		},
	},
	"c": {
	  "s": {
		  "lhs": "{",
		  "rhs": "}",
		},
		"b": {
		  "lhs": "\\left\\{",
		  "rhs": "\\right\\}",
		}
	}
}
type = match.group(1)
size = match.group(2)
opening = enclosing[type][size]["lhs"]
closing = enclosing[type][size]["rhs"]
content = snip.v.text if match.group(3) is None else match.group(3)
snip.rv = opening
`${1:`!p snip.rv = content`}`!p snip.rv = closing`$0
endsnippet

snippet '(\^|_)\1' "Su(b|per)scripts" rA
`!p snip.rv = match.group(1)`{${1:${VISUAL}}}$0
endsnippet

snippet 'f;([^;]+)?;([^;]+)?;' "Fractions" rA
`!p
num = "num" if match.group(1) is None else match.group(1)
den = "den" if match.group(2) is None else match.group(2)
`\frac{${1:`!p snip.rv = num`}}{${2:`!p snip.rv = den`}}$0
endsnippet

snippet '(prod|sum);([^;]+);([^;]+)?;([^;]+)?;([^;]+);' "Performing (sums|products) over an index" r
`!p
op = match.group(1)
dumbvar = match.group(2)
lower_limit = match.group(3)
upper_limit = match.group(4)
term = match.group(5)
if op == "prod":
	snip.rv = "\\prod\\limits"
else:
	snip.rv = "\\sum\\limits"
if lower_limit:
  snip.rv += "_{" + dumbvar + "=" + lower_limit + "}"
else:
  snip.rv += "_{" + dumbvar + "}"
if upper_limit:
  snip.rv += "^{" + upper_limit + "}"
snip.rv += term
`$0
endsnippet

snippet 'sty;(bb|ca|fr|it|no|rm|sc);([a-z]);' "Font style in math mode" rA
`!p
fsty = {
	"bb": "\\mathbb",
	"ca": "\\mathcal",
	"fr": "\\mathfrak",
	"it": "\\mathit",
	"no": "\\mathnormal",
	"rm": "\\mathrm",
	"sc": "\\mathscr",
}
snip.rv = fsty[match.group(1)] + "{" + match.group(2).upper() + "}"
`$0
endsnippet

snippet 'elms;([^;]+);st;([^;]+);' "Collection of items sharing a property in common" r
`!p
elms = "elms" if match.group(1) is None else match.group(1)
prop = "prop" if match.group(2) is None else match.group(2)
`\left\\{${1:`!p snip.rv = elms`}:${2:`!p snip.rv = prop`}\right\\}$0
endsnippet

snippet '([^;\s]+)?;(in|nin|sset|nsset);([^;]+)?;' "Is a(n element| subset) of" rA
`!p
Elm = "Elm" if match.group(1) is None else match.group(1)
Set = "Set" if match.group(3) is None else match.group(3)
if match.group(2) == "in":
 Rel = "\\in"
elif match.group(2) == "nin":
  Rel = "\\notin"
elif match.group(2) == "sset":
  Rel = "\\subseteq"
else:
  Rel = "\\not\\subset"
`${1:`!p snip.rv = Elm`}`!p snip.rv = Rel`{${2:`!p snip.rv = Set`}}$0
endsnippet

snippet '([^;\s]+)?;times;([^;]+)?;' "Cartesian product of two sets" rA
`!p
set1 = "Set 1" if match.group(1) is None else match.group(1)
set2 = "Set 2" if match.group(2) is None else match.group(2)
`${1:`!p snip.rv = set1`}\times{${2:`!p snip.rv = set2`}}$0
endsnippet

snippet '([^;\s]+)?;(to|mapsto);([^;]+)?;' "Mappings" rA
`!p
elm = match.group(1)
rel = match.group(2)
img = match.group(3)
`${1:`!p snip.rv = elm`}`!p snip.rv = "\\" + rel`{${2:`!p snip.rv = img`}}$0
endsnippet

snippet '^(chp|sec|ssec|sssec);([^;]+);' "(chapter|(sub){0,2}section)" r
`!p
hdr = {
	"chp": "chapter",
	"sec": "section",
	"ssec": "subsection",
	"sssec": "subsubsection",
}
hdr_t = match.group(1)
hdr_v = hdr[hdr_t]
hdr_n = match.group(2)
hdr_l = match.group(2).lower().replace(" ", "-")
snip.rv = "\\" + hdr_v + "{" + hdr_n + "}\\label{" + hdr_t + ":" + hdr_l + "}"
`
$0
endsnippet

snippet '^(cor|def|eq|ex|lem|pf|prop|rmk|thm);' "Environments of ultimate interest" rA
`!p
environment = {
	"cor": "corollary",
	"def": "definition",
	"eq": "equation",
	"ex": "example",
	"lem": "lemma",
	"pf": "proof",
	"prop": "proposition",
	"rmk": "remark",
	"thm": "theorem",
}
env_t = match.group(1)
env_v = environment[env_t]
`\begin{`!p snip.rv = env_v`}\label{`!p snip.rv = env_t`:$1}
  $2
\end{`!p snip.rv = env_v`}
$0
endsnippet

snippet 'beg;([^;]+)?;' "Other environments" rA
\begin{${1:`!p snip.rv = snip.v.tex if match.group(1) is None else match.group(1)`}}
  $2
\end{$1}
$0
endsnippet

snippet 'func;' "Math Function" rA
$1{\left($2\right)}=$0
endsnippet

snippet 'tf;(a)?(cos|cot|csc|sec|sin|tan)(h)?;' "(Trigonometric|Hyperbolic) Functions" rA
`!p
a_func = "\\arc" if match.group(1) is not None else "\\"
t_func = match.group(2)
h_func = "h" if match.group(3) is not None else ""
snip.rv = a_func + t_func + h_func
`{\left(${1:${VISUAL}}\right)}$0
endsnippet

snippet '^default pkgs$' "My set of deafult packages" rA
\usepackage{amsmath,amssymb,amsthm}
\usepackage{hyperref}
\usepackage{mathtools}
\usepackage[table]{xcolor}
$0
endsnippet

snippet '^u;([^;]+)?;([^;]+);$' "Loading packages" rA
`!p
if match.group(1) is not None:
	opt = "[%s]" % match.group(1)
else:
	opt = ""
pkg = "{%s}" % match.group(2)
snip.rv = "\\usepackage" + opt + pkg
`$0
endsnippet

snippet '^custom cmds$' "My set of default cmds" rA
%----------------------------------------------------------------------------------%
% Numerical sets                                                                   %
%----------------------------------------------------------------------------------%
\newcommand{\naturals}{\mathbb{N}}                                                 %
\newcommand{\integers}{\mathbb{Z}}                                                 %
\newcommand{\rationals}{\mathbb{Q}}                                                %
\newcommand{\reals}{\mathbb{R}}                                                    %
\newcommand{\complexfield}{\mathbb{C}}                                             %
%----------------------------------------------------------------------------------%
% Absolute value                                                                   %
%----------------------------------------------------------------------------------%
\DeclarePairedDelimiter\abs{\lvert}{\rvert}                                        %
%----------------------------------------------------------------------------------%
% Norm and, more generally, p-norm                                                 %
%----------------------------------------------------------------------------------%
% \norm< space_dimension >[ positive_real_number ]( vector )                       %
%----------------------------------------------------------------------------------%
% Examples:                                                                        %
%  - \norm          --> \lvert{\cdot}\rvert                                        %
%  - \norm<n>       --> \lvert{\cdot}\rvert^{n}                                    %
%  - \norm[p]       --> \lvert{\cdot}\rvert_{p}                                    %
%  - \norm<n>[p]    --> \lvert{\cdot}\rvert_{p}^{n}                                %
%  - \norm(x)       --> \lvert{x}\rvert                                            %
%  - \norm<n>(x)    --> \lvert{x}\rvert^{n}                                        %
%  - \norm[p](x)    --> \lvert{x}\rvert_{p}                                        %
%  - \norm<n>[p](x) --> \lvert{x}\rvert_{p}^{n}                                    %
%----------------------------------------------------------------------------------%
\NewDocumentCommand{\norm}{d <> d [] d ()}{                                        %
	\IfValueTF{#1}{                                                                  %
		\IfValueTF{#2}{                                                                %
			\IfValueTF{#3}{                                                              %
				\lVert{#3}\rVert_{#2}^{#1}                                                 %
			}{                                                                           %
				\lVert{\cdot}\rVert_{#2}^{#1}                                              %
			}                                                                            %
		}{                                                                             %
			\IfValueTF{#3}{                                                              %
				\lVert{#3}\rVert^{#1}                                                      %
			}{                                                                           %
				\lVert{\cdot}\rVert^{#1}                                                   %
			}                                                                            %
		}                                                                              %
	}{                                                                               %
		\IfValueTF{#2}{                                                                %
			\IfValueTF{#3}{                                                              %
				\lVert{#3}\rVert_{#2}                                                      %
			}{                                                                           %
				\lVert{\cdot}\rVert_{#2}                                                   %
			}                                                                            %
		}{                                                                             %
			\IfValueTF{#3}{                                                              %
				\lVert{#3}\rVert\                                                          %
			}{                                                                           %
				\lVert{\cdot}\rVert\                                                       %
			}                                                                            %
		}                                                                              %
	}                                                                                %
}                                                                                  %
%----------------------------------------------------------------------------------%
% Inner product                                                                    %
%----------------------------------------------------------------------------------%
\DeclarePairedDelimiter\innerproduct{\langle}{\rangle}                             %
%----------------------------------------------------------------------------------%
% Space forms                                                                      %
%----------------------------------------------------------------------------------%
\newcommand{\euclideanspace}[1]{\mathbb{R}^{#1}}                                   %
\newcommand{\hyperbolicspace}[1]{\mathbb{H}^{#1}}                                  %
\newcommand{\roundsphere}[1]{\mathbb{S}^{#1}}                                      %
%----------------------------------------------------------------------------------%
% Function spaces                                                                  %
%----------------------------------------------------------------------------------%
\newcommand{\spaceOfSmoothFunctions}[1]{C^{\infty}\left(#1\right)}                 %
\newcommand{\spaceOfSmoothVectorFields}[1]{\mathfrak{X}^{\infty}\left(#1\right)}   %
%----------------------------------------------------------------------------------%
% Differential operators acting on scalar functions                                %
%----------------------------------------------------------------------------------%
% Gradient                                                                         %
%----------------------------------------------------------------------------------%
% Examples:                                                                        %
%  - \grad{f}    --> \textup{grad}\left(f\right)                                   %
%  - \grad{f}<g> --> \textup{grad}_{g}\left(f\right)                               %
%----------------------------------------------------------------------------------%
\NewDocumentCommand{\grad}{m d <>}{                                                %
	\IfValueTF{#2}{                                                                  %
		\textup{grad}_{#2}\left(#1\right)                                              %
	}{                                                                               %
		\textup{grad}\left(#1\right)                                                   %
	}                                                                                %
}                                                                                  %
%----------------------------------------------------------------------------------%
% Hessian                                                                          %
%----------------------------------------------------------------------------------%
% Examples:                                                                        %
% - \hess{f}          --> \textup{Hess}\left(f\right)                              %
% - \hess{f}<g>       --> \textup{Hess}_{g}\left(f\right)                          %
% - \hess{f}[X]       --> \textup{Hess}\left(f\right)\left(X,\cdot\right)          %
% - \hess{f}<g>[X]    --> \textup{Hess}_{g}\left(f\right)\left(X,\cdot\right)      %
% - \hess{f}(Y)       --> \textup{Hess}\left(f\right)\left(\cdot,Y\right)          %
% - \hess{f}<g>(Y)    --> \textup{Hess}_{g}\left(f\right)\left(\cdot,Y\right)      %
% - \hess{f}[X](Y)    --> \textup{Hess}\left(f\right)\left(X,Y\right)              %
% - \hess{f}<g>[X](Y) --> \textup{Hess}_{g}\left(f\right)\left(X,Y\right)          %
%----------------------------------------------------------------------------------%
\NewDocumentCommand{\hess}{m d <> d [] d ()}{                                      %
	\IfValueTF{#2}{                                                                  %
		\IfValueTF{#3}{                                                                %
			\IfValueTF{#4}{                                                              %
				\textup{Hess}_{#2}\left(#1\right)\left({#3},{#4}\right)                    %
			}{                                                                           %
				\textup{Hess}_{#2}\left(#1\right)\left({#3},\cdot\right)                   %
			}                                                                            %
		}{                                                                             %
			\IfValueTF{#4}{                                                              %
				\textup{Hess}_{#2}\left(#1\right)\left(\cdot,{#4}\right)                   %
			}{                                                                           %
				\textup{Hess}_{#2}\left(#1\right)                                          %
			}                                                                            %
		}                                                                              %
	}{                                                                               %
		\IfValueTF{#3}{                                                                %
			\IfValueTF{#4}{                                                              %
				\textup{Hess}\left(#1\right)\left({#3},{#4}\right)                         %
			}{                                                                           %
				\textup{Hess}\left(#1\right)\left({#3},\cdot\right)                        %
			}                                                                            %
		}{                                                                             %
			\IfValueTF{#4}{                                                              %
				\textup{Hess}\left(#1\right)\left(\cdot,{#4}\right)                        %
			}{                                                                           %
				\textup{Hess}\left(#1\right)                                               %
			}                                                                            %
		}                                                                              %
	}                                                                                %
}                                                                                  %
%----------------------------------------------------------------------------------%
% Laplacian                                                                        %
%----------------------------------------------------------------------------------%
% Examples:                                                                        %
%  - \lapl{f}    --> \Delta{f}                                                     %
%  - \lapl{f}<g> --> \left(\Delta{f}\right)_{g}                                    %
%----------------------------------------------------------------------------------%
\NewDocumentCommand{\laplacian}{m d <>}{                                           %
	\IfValueTF{#2}{                                                                  %
		\Delta\left(#1\right)_{#2}                                                     %
	}{                                                                               %
		\Delta{#1}                                                                     %
	}                                                                                %
}                                                                                  %
%----------------------------------------------------------------------------------%
% \covariantDerivative( vector_field_1 )[ vector_field_2 ]                         %
%----------------------------------------------------------------------------------%
% Examples:                                                                        %
%  - \covariantDerivative       --> \nabla                                         %
%  - \covariantDerivative[X]    --> \nabla_{X}                                     %
%  - \covariantDerivative(Y)    --> \nabla{Y}                                      %
%  - \covariantDerivative[X](Y) --> \nabla_{X}Y                                    %
%----------------------------------------------------------------------------------%
\NewDocumentCommand{\covariantDerivative}{d [] d ()}{                              %
	\IfValueTF{#1}{                                                                  %
		\IfValueTF{#2}{                                                                %
			\nabla_{#1}{#2}                                                              %
		}{                                                                             %
			\nabla_{#1}                                                                  %
		}                                                                              %
	}{                                                                               %
		\IfValueTF{#2}{                                                                %
			\nabla{#2}                                                                   %
		}{                                                                             %
			\nabla\                                                                      %
		}                                                                              %
	}                                                                                %
}                                                                                  %
%----------------------------------------------------------------------------------%
% \lieDerivative[ vector_field_1 ]( vector_field_2 )                               %
%----------------------------------------------------------------------------------%
\newcommand{\lieDerivative}[2]{\mathcal{L}_{#2}{#1}}                               %
%----------------------------------------------------------------------------------%
%----------------------------------------------------------------------------------%
% \curvaturetensor< vector_field_1 >( vector_field_2 )[ vector_field_3 ]           %
%----------------------------------------------------------------------------------%
% Examples:                                                                        %
%  - \curvaturetensor                                                              %
%  - \curvaturetensor<X>                                                           %
%  - \curvaturetensor(Y)                                                           %
%  - \curvaturetensor[Z]                                                           %
%  - \curvaturetensor<X>(Y)                                                        %
%  - \curvaturetensor<X>[Z]                                                        %
%  - \curvaturetensor(Y)[Z]                                                        %
%  - \curvaturetensor<X>(Y)[Z]                                                     %
%----------------------------------------------------------------------------------%
\NewDocumentCommand{\curvaturetensor}{d <> d () d []}{                             %
  \IfValueTF{#1}{                                                                  %
    \IfValueTF{#2}{                                                                %
      \IfValueTF{#3}{                                                              %
        \textup{Rm}\left(#1,#2\right)#3                                            %
      }{                                                                           %
        \textup{Rm}\left(#1,#2\right)                                              %
      }                                                                            %
    }{                                                                             %
      \IfValueTF{#3}{                                                              %
        \textup{Rm}\left(#1,\cdot\right)#3                                         %
      }{                                                                           %
        \textup{Rm}\left(#1,\cdot\right)                                           %
      }                                                                            %
    }                                                                              %
    }{                                                                             %
      \IfValueTF{#2}{                                                              %
        \IfValueTF{#3}{                                                            %
          \textup{Rm}\left(\cdot,#2\right)#3                                       %
        }{                                                                         %
          \textup{Rm}\left(\cdot,#2\right)                                         %
        }                                                                          %
      }{                                                                           %
        \IfValueTF{#3}{                                                            %
          \textup{Rm}\left(\cdot,\cdot\right)#3                                    %
        }{                                                                         %
          \textup{Rm}                                                              %
        }                                                                          %
      }                                                                            %
    }                                                                              %
}                                                                                  %
%----------------------------------------------------------------------------------%
% \riccitensor< riemannian_metric >( vector_field_1 )[ vector_field_2 ]            %
%----------------------------------------------------------------------------------%
% Examples:                                                                        %
%  - \riccitensor          --> \textup{Rc}                                         %
%  - \riccitensor(X)       --> \textup{Rc}\left(X,\cdot\right)                     %
%  - \riccitensor[Y]       --> \textup{Rc}\left(\cdot,Y\right)                     %
%  - \riccitensor(X)[Y]    --> \textup{Rc}\left(X,Y\right)                         %
%  - \riccitensor<g>       --> \textup{Rc}_{g}                                     %
%  - \riccitensor<g>(X)    --> \textup{Rc}_{g}\left(X,\cdot\right)                 %
%  - \riccitensor<g>[Y]    --> \textup{Rc}_{g}\left(\cdot,Y\right)                 %
%  - \riccitensor<g>(X)[Y] --> \textup{Rc}_{g}\left(X,Y\right)                     %
%----------------------------------------------------------------------------------%
\NewDocumentCommand{\riccitensor}{d <> d () d []}{                                 %
	\IfValueTF{#1}{                                                                  %
		\textup{Rc}_{#1}                                                               %
	}{                                                                               %
		\textup{Rc}                                                                    %
	}                                                                                %
	\IfValueTF{#2}{                                                                  %
		\IfValueTF{#3}{                                                                %
			\left({#2},{#3}\right)                                                       %
		}{                                                                             %
			\left({#2},\cdot\right)                                                      %
		}                                                                              %
	}{                                                                               %
		\IfValueT{#3}{                                                                 %
			\left(\cdot,{#3}\right)                                                      %
		}                                                                              %
	}                                                                                %
}                                                                                  %
%----------------------------------------------------------------------------------%
% \scalarcurvature< riemannian_metric >                                            %
%----------------------------------------------------------------------------------%
% Examples:                                                                        %
%  - \scal    --> R                                                                %
%  - \scal<g> --> R_{g}                                                            %
%----------------------------------------------------------------------------------%
\NewDocumentCommand{\scalarcurvature}{d <>}{                                       %
	\IfValueTF{#1}{                                                                  %
		\textup{R}_{#1}                                                                %
	}{                                                                               %
		\textup{R}                                                                     %
	}                                                                                %
}                                                                                  %
%----------------------------------------------------------------------------------%
endsnippet

snippet '^title;([^;]+)?;$' "Document authorship" rA
\title{${1:`!p snip.rv = match.group(1) if match.group(1) is not None else snip.v.text`}}
\author{
	Marcelo Bezerra \\\\
	\href{
		mailto:bezerra@ufg.br
	}{
		\small\texttt{bezerra@ufg.br}
	}
}
\date{\today}
$0
endsnippet
