snippet '^(cor|def|eq|ex|lem|prop|rmk|thm)' "labeled environments" rA
`!p
ENV = {
	"cor" : "corollary",
	"def" : "definition",
	"eq"  : "equation",
	"ex"  : "example",
	"lem" : "lemma",
	"prop": "proposition",
	"rmk" : "remark",
	"thm" : "theorem",
}
env = ENV[match.group(1)]
`\begin{`!p snip.rv = env`}\label{`!p snip.rv = match.group(1)`:$1}
	$2
\end{`!p snip.rv = env`}$0
endsnippet

snippet '^proof' "environment for proofs" rA
\begin{proof}
$0
\end{proof}
endsnippet
