snippet _main "skeleton" bA
#include <stdio.h>
#include <stdlib.h>

int main(void) {
	$0
	exit(exit_success);
}
endsnippet

snippet ?? "ternary operator" wA
(${1:cond}) ? ${2:then} : ${3:else};
endsnippet
